body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li,
menu li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: 'PTSans';
  src: url('/fonts/PTSans/PTSans.eot');
  src: url('/fonts/PTSans/PTSans.eot#iefix') format('embedded-opentype'), url('/fonts/PTSans/PTSans.woff') format('woff'), url('/fonts/PTSans/PTSans.ttf') format('truetype'), url('/fonts/PTSans/PTSans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('/fonts/PTSans-Bold/PTSans-Bold.eot');
  src: url('/fonts/PTSans-Bold/PTSans-Bold.eot#iefix') format('embedded-opentype'), url('/fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'), url('/fonts/PTSans-Bold/PTSans-Bold.ttf') format('truetype'), url('/fonts/PTSans-Bold/PTSans-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  text-transform: uppercase;
  font-family: PTSans;
  background: #f2f2f2;
  min-width: 340px;
}
/*          обертка сайта         */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 5px 1px 15px 0px rgba(0, 1, 1, 0.25);
}
/*         хэдер сайта       */
.site-header {
  position: relative;
  z-index: 10;
  min-height: 56px;
  /*    верхнее меню   */
  /*      логотип          */
}
.site-header .site__menu .top-menu {
  width: 100%;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.site-header .site__menu .top-menu li {
  float: left;
  width: 20%;
  font-size: 14px;
  text-align: center;
  line-height: 56px;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu li {
    float: none;
    width: 100%;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    background: #81b3d2;
  }
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu li:not(.top-menu-item__logo) {
    display: none;
  }
}
.site-header .site__menu .top-menu li a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #232324;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu li a {
    color: #ffffff;
  }
}
.site-header .site__menu .top-menu .top-menu-item__map {
  float: right;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu .top-menu-item__map {
    order: -3;
  }
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu .top-menu-item__map {
    border-top: none;
  }
}
.site-header .site__menu .top-menu .top-menu-item__hotel {
  float: right;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu .top-menu-item__hotel {
    order: 1;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  }
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu .top-menu-item__info {
    order: -2;
  }
}
.site-header .site__menu .top-menu .top-menu-item a:hover {
  color: #81b3d2;
}
.site-header .site__menu .top-menu .top-menu-item a:active {
  color: #b7b7b7;
}
.site-header .site__menu .top-menu .top-menu-item--active a {
  color: #766357;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .top-menu .top-menu-item__foto {
    order: -1;
  }
}
.site-header .site__menu .site__menu-button--cross {
  position: absolute;
  display: none;
  right: 4%;
  transform: translateY(-50%);
  top: 10%;
  fill: #ffffff;
}
@media screen and (max-width: 720px) {
  .site-header .site__menu .site__menu-button--cross {
    display: inline-block;
  }
}
.top-menu-item__logo {
  display: inline-block;
  text-align: center;
  width: 20%;
  position: relative;
}
@media screen and (max-width: 720px) {
  .top-menu-item__logo {
    width: 100%;
    border: none;
    line-height: normal;
    height: 56px;
    order: 2;
    background: none;
    position: relative;
  }
}
.top-menu-item__logo .site__menu-button--menu {
  position: absolute;
  display: none;
  right: 4%;
  transform: translateY(-50%);
  top: 50%;
  fill: #81b3d2;
}
@media screen and (max-width: 720px) {
  .top-menu-item__logo .site__menu-button--menu {
    display: inline-block;
  }
}
.top-menu-item__logo .site-logo {
  display: inline-block;
  background: url('../img/form-logo-triangle.svg') no-repeat 50%;
  width: 148px;
  height: 70px;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 720px) {
  .top-menu-item__logo .site-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 148px;
    height: 70px;
    z-index: 5;
    top: 0;
  }
}
/*   Блок с картинкой после меню   */
.intro__block {
  text-align: center;
  background: url('../img/background_hotels.png') no-repeat 50% 0;
  padding: 0 6%;
}
.intro__block .site-form {
  font-size: 0;
  /*вторая половина меню*/
}
.intro__block .site-form .form-block__right {
  text-align: right;
}
@media screen and (max-width: 992px) {
  .intro__block .site-form .form-block__right {
    text-align: center;
  }
}
.intro__block .site-form .form-block__right .form-next {
  display: inline-block;
  text-align: left;
}
.intro__block .site-form .form-block {
  width: 50%;
  display: inline-block;
  font-size: 0;
}
@media screen and (max-width: 720px) {
  .intro__block .site-form .form-block {
    width: 100%;
  }
}
.intro__block .site-form .form-block .form-item {
  text-align: left;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  width: 50%;
  padding: 30px 0;
}
@media screen and (max-width: 720px) {
  .intro__block .site-form .form-block .form-item {
    width: 30%;
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .intro__block .site-form .form-block .form-item {
    width: 50%;
    padding: 0;
  }
}
.intro__block .site-form .form-block .form-item .form-field--title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
}
.intro__block .site-form .form-block .form-item .form-field {
  margin-bottom: 30px;
}
.intro__block .site-form .form-block .form-item .form-field .form-field--label {
  position: relative;
  padding-left: 40px;
}
.intro__block .site-form .form-block .form-item .form-field .form-field--label::before {
  border-radius: 3px;
  position: absolute;
  width: 23px;
  height: 23px;
  content: "";
  border: 2px solid #ffffff;
  left: 0;
  top: -30%;
}
.intro__block .site-form .form-block .form-item .form-field .form-field--label::after {
  display: none;
  position: absolute;
  width: 19px;
  height: 8px;
  content: "";
  border: 5px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  left: 7px;
  top: -20%;
}
.intro__block .site-form .form-block .form-item .form-field input[type="checkbox"] {
  display: none;
}
.intro__block .site-form .form-block .form-item .form-field input[type="checkbox"]:checked ~ .form-field--label::after {
  display: block;
}
.intro__block .site-form .form-block__right {
  font-size: 14px;
  color: #ffffff;
}
.intro__block .site-form .form-block__right .form-next {
  width: 370px;
}
@media screen and (max-width: 720px) {
  .intro__block .site-form .form-block__right .form-next {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .intro__block .site-form .form-block__right .form-next {
    width: 314px;
  }
}
.intro__block .site-form .form-block__right .form-next .next-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 9px;
}
.intro__block .site-form .form-block__right .form-next .price-controls {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}
.intro__block .site-form .form-block__right .form-next .price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro__block .site-form .form-block__right .form-next .price-controls .price-control {
  display: inline-block;
  vertical-align: top;
  line-height: 38px;
  cursor: pointer;
  width: 90px;
  padding-left: 65px;
  font-size: 14px;
}
.intro__block .site-form .form-block__right .form-next .price-controls .input-control {
  width: 50px;
  margin: 0;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  background: none;
}
.intro__block .site-form .form-block__right .form-next .range-control {
  position: relative;
  margin-bottom: 32px;
}
.intro__block .site-form .form-block__right .form-next .range-control .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.intro__block .site-form .form-block__right .form-next .range-control .scale .bar {
  height: 2px;
  width: 80%;
  background: #ffffff;
}
.intro__block .site-form .form-block__right .form-next .range-control .scale .range-toggle {
  height: 4px;
  width: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}
.intro__block .site-form .form-block__right .form-next .range-control .scale .range-toggle:hover {
  background: #1c4f80;
}
.intro__block .site-form .form-block__right .form-next .range-control .scale .range-toggle-min {
  left: 0;
}
.intro__block .site-form .form-block__right .form-next .range-control .scale .range-toggle-max {
  left: 80%;
}
.intro__block .site-form .form-block__right .form-next .next-button {
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.intro__block .site-form .form-block__right .form-next .next-button:hover {
  color: #232324;
  background: #ffffff;
}
/*Основной контент*/
.search-block .search-block__item {
  width: 88%;
  padding: 30px 6%;
  border-bottom: 2px solid #d6d6d6;
  position: relative;
}
.search-block .search-block__item .top-menu__title {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item .top-menu__title {
    display: block;
  }
}
.search-block .search-block__item .top-menu-items {
  display: inline-block;
  margin-left: 50px;
  font-size: 12px;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item .top-menu-items {
    margin-left: 0;
  }
}
.search-block .search-block__item .top-menu-items .top-menu__item {
  display: inline-block;
  margin-right: 33px;
  cursor: pointer;
}
.search-block .search-block__item .top-menu-items .top-menu__item:first-child {
  margin-right: 40px;
  cursor: initial;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item .top-menu-items .top-menu__item--not-active {
    display: none;
  }
}
.search-block .search-block__item .top-menu-items .top-menu__item--active {
  color: #81b3d2;
  cursor: initial;
}
.search-block .search-block__item .top-menu-items .top-menu__item--inactive {
  border-bottom: 1px dotted #81b3d2;
  color: #b2b2b2;
}
.search-block .search-block__item .top-menu-items .top-menu__item--inactive:hover {
  color: #81b3d2;
}
.search-block .search-block__item .top-menu-items .top-menu__item--inactive:active {
  color: #232324;
}
.search-block .search-block__item .search-block__item--image {
  float: left;
  margin-right: 30px;
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item .search-block__item--image {
    float: none;
    text-align: center;
  }
}
.search-block .search-block__item .search-block__item--content {
  margin-top: -5px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item .search-block__item--content {
    text-align: center;
  }
}
.search-block .search-block__item .search-block__item--content .search-item__content--title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.search-block .search-block__item .search-block__item--content .search-item__content--title:hover {
  color: #81b3d2;
}
.search-block .search-block__item .search-block__item--content .search-item__content--title:active {
  color: #b2b2b2;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block p {
  padding: 8px 0 15px 0;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button {
  padding: 3px 18px;
  line-height: 21px;
  background: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: inherit;
  font-weight: bold;
  font-family: inherit;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button--info:hover {
  background: #669ec0;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button--info:active {
  background: #5496bd;
  color: #81b2ce;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button--order {
  background: #766357;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button--order:hover {
  background: #604e43;
}
.search-block .search-block__item .search-block__item--content .search-item__content--block .search-content__button--order:active {
  background: #503e33;
  color: #928a85;
}
.search-block .search-block__item .search-block__item--content .search-item__content--about {
  margin-right: 5px;
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item .search-block__item--content .search-item__content--about {
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item .search-block__item--content .search-item__content--order {
    position: relative;
  }
}
.search-block .search-block__item .search-block__item--content .search-item__rating {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 21px;
  padding: 3px 18px;
  background: #f2f2f2;
  color: #666666;
  font-size: 14px;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item .search-block__item--content .search-item__rating {
    right: initial;
    bottom: initial;
    top: 70px;
    left: 10px;
  }
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item .search-block__item--content .search-item__rating {
    top: 71px;
  }
}
.search-block .search-block__item .search-block__item--content .search-item__rating--image {
  position: absolute;
  background: url(../img/star.png) space;
  width: 90px;
  height: 20px;
  top: 4px;
  right: 0;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item .search-block__item--content .search-item__rating--image {
    right: initial;
    bottom: -25px;
    top: initial;
    left: 0;
  }
}
.search-block .search-block__item .search-block__item--content .search-item__rating--image-three {
  width: 65px;
}
.search-block .search-block__item .search-block__item--content .search-item__rating--image-two {
  width: 40px;
}
@media screen and (max-width: 500px) {
  .search-block .search-block__item--menu {
    padding-bottom: 0;
    border: none;
  }
}
.search-block .search-block__item--menu:hover:before {
  color: #81b3d2;
}
.search-block .search-block__item--menu:active:before {
  color: #232324;
}
.search-block .search-block__item--menu::before {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-top: 9px solid #81b3d2;
  top: 50%;
  right: 6%;
  transform: translateY(-15%);
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item--menu::before {
    top: initial;
    bottom: 25%;
  }
}
.search-block .search-block__item--menu::after {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-bottom: 9px solid #cacaca;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .search-block .search-block__item--menu::after {
    top: initial;
    bottom: 25%;
  }
}
.search-block .search-block__item--menu::after:hover {
  color: #81b3d2;
}
.search-block .search-block__item--menu::after:active {
  color: #232324;
}
/*    Футер   */
.site-footer {
  position: relative;
}
.site-footer .footer-content {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0;
  font-size: 0;
}
.site-footer .footer-content .hashtag {
  display: inline-block;
  width: 33%;
  font-size: 21px;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .site-footer .footer-content .hashtag {
    width: 100%;
  }
}
.site-footer .footer-content .social-buttons {
  width: 33%;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
@media screen and (max-width: 720px) {
  .site-footer .footer-content .social-buttons {
    width: 100%;
    padding: 40px 0;
  }
}
.site-footer .footer-content .social-buttons li {
  display: inline-block;
  vertical-align: middle;
}
.site-footer .footer-content .social-buttons li .social-link {
  line-height: 63px;
  margin: 0 6px;
  display: block;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}
.site-footer .footer-content .social-buttons li .social-link:hover {
  background: #669ec0;
}
.site-footer .footer-content .social-buttons li .social-link:active {
  background: #81b2ce;
}
.site-footer .footer-content .social-buttons li .social-link:active svg {
  fill: #5496bd;
}
.site-footer .footer-content .social-buttons li .social-link svg {
  fill: #ffffff;
}
.site-footer .footer-content .copy {
  display: inline-block;
  width: 33%;
  font-size: 14px;
}
@media screen and (max-width: 720px) {
  .site-footer .footer-content .copy {
    width: 100%;
  }
}
.site-footer .footer-content .copy a {
  display: inline-block;
  vertical-align: middle;
}
.site-footer .footer-content .copy a:hover svg {
  fill: #98c1da;
}
.site-footer .footer-content .copy a:active svg {
  fill: #bdbbbc;
}
